<mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface>
        <mdc-dialog-title>Create profile</mdc-dialog-title>
        <mdc-dialog-content>
          <form [formGroup]="profileForm" id="profileForm" (ngSubmit)="submit()" autocomplete="off">
            <mdc-form-field fluid>
              <mdc-text-field formControlName="title" label="Title"></mdc-text-field>
              <mdc-helper-text persistent validation>*Required</mdc-helper-text>
            </mdc-form-field>
            <mdc-form-field fluid>
              <mdc-textarea formControlName="description" label="Description" rows="4" cols="60" required maxlength="218"
              charCounter></mdc-textarea>
            </mdc-form-field>

          </form>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton mdcDialogAction="close">Cancel</button>
          <button mdcDialogButton form="profileForm">Create</button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>