<mdc-top-app-bar>
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="Todo Application">
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <mdc-icon mdcTopAppBarActionItem>home</mdc-icon>
        <mdc-icon mdcTopAppBarActionItem>person</mdc-icon>
        <mdc-icon mdcTopAppBarActionItem (click)="addItemDialog()">add</mdc-icon>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>