<mdc-card >
    <mdc-card-primary-action>
      <mdc-card-media  wide></mdc-card-media>
      <div style="padding-left:10px;">
        <h2 mdcHeadline6>{{data.title}}</h2>
        <h3 mdcSubtitle2>{{data.userId}}</h3>
      </div>
      <div mdcBody2 style="padding:5px;">
        {{data.description}}
      </div>
    </mdc-card-primary-action>
    <mdc-card-actions >
      <mdc-card-action-buttons align="right">
        <button mdc-button mdcCardAction="button" (click)="remove()">Delete</button>
        <button mdc-button mdcCardAction="button" (click)="update()">Edit</button>
      </mdc-card-action-buttons>
    </mdc-card-actions>
  </mdc-card>